game-assets/sub/environments/environment.glb
game-assets/sub/environments/environment_original.glb
game-assets/sub/environments/environment.blend
game-assets/sub/environments/environment.blend1
*.blend
*.blend1
dist/
node_modules/
portable/
.vercel
.env*.local
